body {
  font-family: Arial;
  max-width: 600px;
  margin: auto;
  padding: 20px;
  background: #f4f4f4;
}

h1 {
  color: darkgreen;
}

input {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
}

button {
  margin-top: 15px;
  padding: 10px;
  width: 100%;
  border: none;
  background: green;
  color: white;
  cursor: pointer;
}

button:hover {
  background: darkgreen;
}

#listaIngredientes {
  margin-top: 20px;
  background: white;
  padding: 15px;
}